* {
    margin: 0;
    padding: 0;
}
body {
    color: #4C4B46;
    background: #F0F0EF;
    font: 12px 'Microsoft YaHei';
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
ul, li {
    list-style: none;
}
section {
    display: block;
    background: #fff;
    padding: 5px 10px;
    line-height: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
section img {
    width: 100%;
}
.space10 {
    margin-bottom: 10px;
}
.space5 {
    margin-bottom: 5px;
}
.wrapper {
    padding: 10px;
}
.detail-one {
    line-height: 24px;
}
.detail-one .shop-name {
    display: block;
    margin-right: 70px;
    color: #333;
    font-size: 14px;
}
.discount {
    float: right;
    width: 40px;
    text-align: center;
}
.detail-one mark, .shop .text mark, .play .text mark {
    float: left;
    width: 25px;
    height: 12px;
    margin: 0 7px;
    line-height: 12px;
    background: #4BD1BA;
    border-radius: 3px;
    background-clip: padding-box;
    color: #175E51;
    font-size: 10px;
    text-align: center;
}
.detail-one .mark-price {
    float: left;
    color: #BABABA;
    font-size: 11px;
    line-height: 13px;
    text-decoration: line-through;
}
.detail-one .sold-price {
    float: right;
    color: #D83400;
    font-size: 17px;
}
.detail-one .sold-text {
    float: right;
    width: 40px;
    color: #666;
    font-size: 11px;
}
.detail-more {
    height: 49px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.detail-more li {
    float: left;
    width: 33%;
    height: 40px;
    padding-top: 9px;
    border-left: 1px solid #ddd;
}
.detail-more li:first-child {
    border: none;
}
.detail-more li p {
    color: #333;
    text-align: center;
}
.detail-more li p.numb {
    color: #878787;
    font-size: 14px;
    font-weight: bold;
}
.detail-more li p.numb span {
    font-size: 12px;
}
.detail-title {
    height: 33px;
    padding-left: 12px;
    line-height: 33px;
    color: #333;
    font-size: 13px;
    position: relative;
}
.detail-title:before {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    background: #FFBF00;
    border-radius: 5px;
    background-clip: padding-box;
    position: absolute;
    top: 9px;
    left: 0;
}
.detail-one .name {
    float: left;
    color: #333;
}
.detail-one .range {
    float: right;
    color: #FF7F00;
}

.place {
    padding: 0;
}
.place a {
    display: block;
    padding: 6px 10px;
    color: #333;
    line-height: 22px;
    position: relative;
}
.place .name:before, .place .name:after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 2px;
    background: #999;
    top: 15px;
    right: 0;
    border-radius: 1px;
    background-clip: padding-box;
    transform-origin: 1px 1px;
    -webkit-transform-origin: 1px 1px;
}
.place .name:before {
    transform: rotate(220deg);
    -webkit-transform: rotate(220deg);
    -ms-transform: rotate(220deg);
}
.place .name:after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}
.place .address {
    padding-right: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.no-name .address {
    border-top: none;
}
.place i {
    width: 12px;
    height: 12px;
    padding-left: 15px;
    border-left: 1px solid #d8dadb;
    background: url("../images/share-icon.png") no-repeat;
    background-size: 15px 60px;
    position: absolute;
    top: 12px;
    right: 0;
}
.place .address i {
    background-position: center 0;
}
.place .tel i {
    background-position: center -24px;
}
.place .tel span {
    color: #FF7F00;
    padding-left: 10px;
}

.shop, .play {
    display: block;
    background: #fff;
    padding: 10px;
    line-height: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.shop .photo {
    float: left;
    width: 50px;
    height: 50px;
}
.shop .photo img {
    width: 100%;
}
.shop .detail {
    padding-left: 60px;
}
.shop .title, .play .title {
    height: 20px;
    margin: 0 0 8px;
    color: #111;
    font-size: 15px;
    overflow: hidden;
}
.shop .text, .play .text {
    height: 22px;
    overflow: hidden;
}
.shop .text .sold, .play .text .sold {
    float: left;
    color: #D83500;
    font-size: 17px;
    font-weight: bold;
}
.shop .text mark, .play .text mark {
    margin: 5px;
}
.shop .text .ticket, .play .title .ticket {
    float: right;
    width: 28px;
    height: 20px;
    line-height: 20px;
    padding-left: 16px;
    background: #FFC926;
    border-radius: 3px;
    background-clip: padding-box;
    color: #000;
    font-size: 11px;
    position: relative;
}
.shop .text .ticket:before,  .play .title .ticket:before {
    content: '';
    width: 12px;
    height: 12px;
    background: url("../images/tagicon.png") no-repeat 0 0px;
    background-size: 13px;
    position: absolute;
    top: 4px;
    left: 3px;
}

.play .photo {
    float: left;
    width: 80px;
    height: 80px;
}
.play .photo img {
    width: 100%;
}
.play .detail {
    padding-left: 85px;
}
.play .title {
    margin-bottom: 4px;
}
.play .title-text {
    float: left;
    width: 150px;
    overflow: hidden;
}
.play .para {
    height: 30px;
    margin-bottom: 2px;
    color: #777;
    line-height: 15px;
    overflow: hidden;
}
.play .distance {
    float: right;
    padding: 3px 0 0 14px;
    color: #bbb;
    font-size: 11px;
    position: relative;
}
.play .distance:before {
    content: '';
    width: 12px;
    height: 12px;
    background: url("../images/icon.png") no-repeat center 0;
    background-size: 15px 60px;
    position: absolute;
    top: 6px;
    left: 0;
}

html#qiang, html#qiang body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#qiang .wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    bottom: 0;
    z-index: 1;
    padding-bottom: 49px;
    border-top: 1px solid #ddd;
}
#qiang footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 49px;
    background: #f8f8f8;
    border-top: 1px solid #b2b2b2;
    z-index: 10;
}
.btn-qiang {
    display: block;
    width: 145px;
    height: 35px;
    line-height: 35px;
    margin: 6px auto;
    background: #FB6050;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    text-align: center;
}


#top-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background: url("/images/applogo.png") no-repeat rgba(0,0,0,0.7) 10px 5px;
    background-size: 40px 40px;
    z-index: 1111;
}
#top-fixed p {
    padding: 5px 10px 0 60px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}